@model IEnumerable<Todo_DataAccess.Todo>

<!-- This section should be hidden by default and shown when there are todos -->
<section id="main">
	<input id="toggle-all" type="checkbox">
	<label for="toggle-all">Mark all as complete</label>
	<ul id="todo-list">
        @Html.Partial("Partials/_UserTodos", Model)
	</ul>
</section>

@section scripts
{
<script type="text/javascript">
    (function ($) {

        toastr.options = {
            positionClass: 'toast-bottom-right'
        }

        $("form[action*='Todo/MarkComplete'] :checkbox").on("change", function (event) {
            toastr.info("Not Implemented", "Completed Action Captured");
        });

        $("form[action*='Todo/Delete']").on("submit", function (event) {
            event.preventDefault();

            toastr.error("Not Implemented", "Delete Action Captured");
        });
    })(jQuery);
</script>
}